# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea/*
*.ini
.aws/*
*.env
shipping/.idea/httpRequests/http-client.cookies
shipping/.idea/httpRequests/2022-04-16T093512.200.json
shipping/.idea/modules.xml
shipping/.idea/vcs.xml
shipping/.idea/shipping.iml
shipping/.idea/workspace.xml
shipping/.idea/httpRequests/http-requests-log.http
shipping/.aws/credentials
