# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
*.ini
*.idea/*
*.aws/*
.env
shipping/.aws/credentials
*.xml
*.iml
shipping/.idea/httpRequests/2022-04-16T093512.200.json
shipping/.idea/httpRequests/http-client.cookies
shipping/.idea/httpRequests/http-requests-log.http
